.employer_icon {
    margin-block-start: 15%;
    margin-block-end: 5%;
    width: 15%;
    height: 15%
}



.rounded_card {
    border-radius: 25px;
    padding: 0;
}



.row{
    padding: 0 25px;
    margin: 0;
    
}

.mat-button{
    padding: 0;
    min-width: 10px;
}
